<%= render 'tagcloud' %>
  <div class="row mt-2">
    <div class="col-md-4">
      <h1> <%= t '.title' %> </h1>
    </div>
    <div class="col-md-4 ms-auto">
      <div class="d-flex justify-content-end">
        <%= link_to ( t '.button_add_task') , new_task_path, class: 'btn btn-primary me-1' %>
        <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t ".sort" %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">
    <%= sort_link(@q, :created_at) do %>
      <strong><%= t ".sort_date" %></strong>
      <% end %>
    </a></li>
    <li><a class="dropdown-item" href="#">
    <%= sort_link(@q, :avgrait) do %>
     <strong><%= t ".sort_rating" %></strong>
      <% end %>
      </a>
      </li>
  </ul>
</div>
      </div>
    </div>
  </div>
  <% @tasks.each do |task| %>
    <div class="card mt-3">
    <div class="card-body">
    <article class="task">
      <section class="task-head">
          <%= raw task.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "task_tags" }.join(" ") %>
      </section>
  <section class=" task-body">
  <div class="cart-title">
          <div class="row mt-2">
            <div class="col-md-11">
              <%= link_to task.name, task_path(task.id), class: "task_name" %>
            </div>
            <div class="col-md-1 ms-auto">
              <div class="d-flex justify-content-end">
                  <div class="avg_rating"><%= avg_rating(task.id) %> </div>
                  <%= image_tag("Star/star-on.png",size: "30x30")%>
              </div>
            </div>
          </div>
          </div>
      </section>
    </article>
        </div>
</div>
    <% end %>