<div class="row mt-2">
 <div class="col-md-4">
<h2> <%= @task.name %> ?</h2>
</div>
<div class="col-md-4 ms-auto">
<div class="d-flex justify-content-end">
  
  <% if current_user && @task.user_id == current_user.id %>
  <%= link_to "Delete", task_path, data: {confirm: 'You are really?'}, class: 'btn btn-dark btn-lg',  method: :delete %>
  <%= link_to "Change", edit_task_path, class: 'btn btn-dark btn-lg ms-2' %>
  <% end %>
  <%= link_to "Add task", new_task_path, class: 'btn btn-dark btn-lg ms-2' %>
  
</div>
</div>
</div>
<article class="task">
<section class="task-head">
<%= raw @task.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "task_tags"}.join(" ") %>
</section> 
</article>
<% if current_user && @task.user_id == current_user.id%>
<div class='task_answers'> Answers: <%= raw @task.answers.map(&:name).join(" , ") %> </div>
<% end %>
<h2> Topic:  <%= @task.topic.name %> </h2>

<div>
  <% @task.avatar.each do |avatars| %>
    <%= image_tag(avatars, height: 150, width: 250) %>
  <% end %>
</div>

<h2 class="mt-2">Condition: </h2>
<p>
<%= markdown(@task.condition) %>
</p>  
<% if current_user && current_user.id != @task.user.id %>
<%= form_with model: [ @task, @task.taskuseranswers.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.text_area :status, value: false %>
  </p>
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id, value: current_user.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>
 <% @task.answers.each do |answer| %>
      <% @task.taskuseranswers.each do |uanswer| %>
    <% if answer.name == uanswer.name && current_user.id != @task.user.id %>
      <h1> You're right! </h1>
    <% end %>
    <% end %>
  <% end %>